/* Reset */
ul,
li {
  list-style: none;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 12px;
  line-height: 100%;
}

input:focus {
  border: 1px solid #727272;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
label,
form,
input,
button {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  color: #727272;
}

label,
img,
input,
button {
  vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 30px;
  font-size: 13px;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  transition: all 0.5s;
  vertical-align: middle;
}

/* Additional Input Styles */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 12px;
}

/* Login Form */
.login {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login h2 {
  padding: 0 0 20px;
  font-size: 40px;
  color: #0d63e4;
  border-bottom: 2px solid #609fff;
  text-align: center;
  line-height: 1;
}

.login > ul {
  padding: 40px 0 10px;
}

.login > ul li {
  padding: 0 0 12px;
}

.login > ul li input {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  text-indent: 16px;
}

.login > ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(184, 184, 184);
  text-indent: 16px;
}

.login button {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #0d63e4;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  border: none;
}

.login button:hover {
  cursor: pointer;
}

.login div ul {
  display: flex;
  justify-content: center;
}

.login div ul li {
  position: relative;
  padding: 0 18px;
}

.login div ul li ~ li:before {
  content: "";
  position: absolute;
  height: 13px;
  width: 1px;
  background: rgb(132, 132, 132);
  left: 0;
  top: 4px;
}

.login div ul li a {
  font-size: 13px;
  color: rgb(70, 70, 70);
}
