.h1 {
  padding-top: 100px;
  font-size: 30px;
}
.kakaonav {
  background-color: black;
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.thing {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.back {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  padding: 50px;
  padding-top: 20px;
  width: 80%;
}

.controls {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.add-item {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.add-item input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.add-item button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.list {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.lost-items {
  margin-top: 20px;
  width: 100%;
}

.lost-item {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.lost-item:hover {
  background-color: #f1f1f1;
}
